/*universal selector*/
* {
    margin:0px;
    padding:0px;
}

/*element selector*/
body{
    position: relative;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: gray;
    color:black;
}

h1,
h2{
    margin: 20px;
}

main{
    padding: 75px;
}

li{
    display: in-line;
    padding: 0px 20px;
    text-decoration: none;
}

a{
    text-decoration: none;
    color:brown;
}

header,
footer{
    height: 60px;
    width: 100%;
    line-height: 60px;
    background-color: darkcyan;
}

header{
    position: fixed;
    border-bottom: 10px solid darkgreen;
    }

footer{
    position: absolute;
    margin-top: 0;
    bottom: 0;
    border-bottom: 10px solid darkgreen;
    color:darkgray;
}

figure{
    margin-bottom: 45px;
}

img{
    display: block;
    margin: 20px auto;
}

section{
    margin-bottom: 20px;
    padding: 20 10 40 0;
    border-top: 20px;
    background-color: rgb(16, 10, 131);
}

form{
    /*centers form on page*/
    margin: 0 auto;
    width: 500px;
    padding: 20px;
    border: 20px;
    border-radius: 25px;
}

label{
    display:inline-block;
    width: 100px;
}

input,
textarea{
    box-sizing: border-box;
    width:300px;
    border: 1px solid black;
}

textarea{
    vertical-align: top;
    height: 75px;
}

button{
    height: 50px;
    width: 130px;
    background-color: gray;
    color:black;
}

/*class selectors*/

.text-center{
    text-align: center;
}

.text-right{
    text-align: right;
}